billing-system/src/main/app/invoice-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:beans>
		<spring:bean id="InvoiceServiceImpl" class="org.billing.api.handler.InvoiceHandler" />
	</spring:beans>

	<flow name="invoice-getAllFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.currentPage != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.pageSize != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getAllInvoice"
			methodArguments="#[message.inboundProperties.'http.query.params'.currentPage], #[message.inboundProperties.'http.query.params'.pageSize], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="invoice-getByIDFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice/{invoiceID}" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter
					expression="#[message.inboundProperties.'http.uri.params'.invoiceID != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getInvoiceByID"
			methodArguments="#[message.inboundProperties.'http.uri.params'.invoiceID], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="invoice-getByNoFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice/number/{invoiceNo}" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter doc:name="And">
				<expression-filter
					expression="#[message.inboundProperties.'http.uri.params'.invoiceNo != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getInvoiceByNo"
			methodArguments="#[message.inboundProperties.'http.uri.params'.invoiceNo], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="invoice-createFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice" allowedMethods="POST" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter expression="#[payload.billingID != null]" />
				<expression-filter expression="#[payload.memberID != null]" />
				<expression-filter expression="#[payload.amount != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<custom-transformer class="org.billing.api.processor.InvoiceTransformer"
			doc:name="Java" />
		<invoke method="createInvoice" methodArguments="#[payload], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="invoice-bulkCreateFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice/bulk" allowedMethods="POST" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter expression="#[json:billingID != null]" />
				<expression-filter expression="#[json:members != null]" />
				<expression-filter expression="#[json:amount != null]" />
				<expression-filter expression="#[json:description != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="createBulkInvoice"
			methodArguments="#[json:billingID], #[json:members], #[json:amount], #[json:description], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<set-property propertyName="token" value="#[flowVars['token']]"
			doc:name="AddHeader" />
		<vm:outbound-endpoint path="bulkCreateInvoicePhase01" />
		<set-payload value="OK" />
	</flow>

	<flow name="invoice-bulkCreatePhase1Flow">
		<vm:inbound-endpoint path="bulkCreateInvoicePhase01" />
		<set-variable value="#[message.inboundProperties.token]"
			variableName="token" doc:name="Variable" />
		<collection-splitter />
		<set-property propertyName="token" value="#[flowVars['token']]"
			doc:name="AddHeader" />
		<vm:outbound-endpoint path="bulkCreateInvoicePhase02" />
	</flow>

	<flow name="invoice-bulkCreatePhase2Flow">
		<vm:inbound-endpoint path="bulkCreateInvoicePhase02" />
		<set-variable value="#[message.inboundProperties.token]"
			variableName="token" doc:name="Variable" />
		<set-variable value="#[payload]" variableName="originalPayload"
			doc:name="Variable" />
		<invoke method="createInvoice" methodArguments="#[payload], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<catch-exception-strategy doc:name="Catch Exception Strategy">
			<logger level="ERROR"
				message="#[groovy:message.getExceptionPayload().getRootException().getMessage()]" />
			<logger level="ERROR"
				message="[FAILED Create Invoice for MemberID : #[flowVars['originalPayload'].member.id]]" />
		</catch-exception-strategy>
	</flow>

	<flow name="invoice-updateFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice/{invoiceID}" allowedMethods="PUT" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.uri.params'.invoiceID != null]" />
				<expression-filter expression="#[payload.amount != null]" />
				<expression-filter expression="#[payload.active != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="updateInvoice"
			methodArguments="#[message.inboundProperties.'http.uri.params'.invoiceID], #[payload.amount], #[payload.active], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="invoice-deleteFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice/{invoiceID}" allowedMethods="DELETE" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.uri.params'.invoiceID != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="deleteInvoice"
			methodArguments="#[message.inboundProperties.'http.uri.params'.invoiceID], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="publishInvoice-getAllFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice/publish" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.currentPage != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.pageSize != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getAllPublishInvoice"
			methodArguments="#[message.inboundProperties.'http.query.params'.currentPage], #[message.inboundProperties.'http.query.params'.pageSize], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="publishInvoice-getByMemberFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice/publish/member" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.billingID != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.username != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getPublishInvoiceMember"
			methodArguments="#[message.inboundProperties.'http.query.params'.billingID], #[message.inboundProperties.'http.query.params'.username], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="publishInvoice-loadByBillingFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice/publish/billing" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.currentPage != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.pageSize != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.startDate != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.endDate != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.billingID != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<choice>
			<when
				expression="#[message.inboundProperties.'http.query.params'.status != null]">
				<invoke method="loadAllPublishInvoiceBillingStatus"
					methodArguments="#[message.inboundProperties.'http.query.params'.startDate], #[message.inboundProperties.'http.query.params'.endDate], #[message.inboundProperties.'http.query.params'.billingID], #[message.inboundProperties.'http.query.params'.status], #[message.inboundProperties.'http.query.params'.currentPage], #[message.inboundProperties.'http.query.params'.pageSize], #[flowVars['token']]"
					object-ref="InvoiceServiceImpl" doc:name="Invoke" />
			</when>
			<otherwise>
				<invoke method="loadAllPublishInvoiceBilling"
					methodArguments="#[message.inboundProperties.'http.query.params'.startDate], #[message.inboundProperties.'http.query.params'.endDate], #[message.inboundProperties.'http.query.params'.billingID], #[message.inboundProperties.'http.query.params'.currentPage], #[message.inboundProperties.'http.query.params'.pageSize], #[flowVars['token']]"
					object-ref="InvoiceServiceImpl" doc:name="Invoke" />
			</otherwise>
		</choice>
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="invoice-getStatFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="invoice/stat" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.startDate != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.endDate != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.billingID != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getInvoiceStat"
			methodArguments="#[message.inboundProperties.'http.query.params'.billingID], #[message.inboundProperties.'http.query.params'.startDate], #[message.inboundProperties.'http.query.params'.endDate], #[flowVars['token']]"
			object-ref="InvoiceServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>
</mule>
