billing-system/src/main/app/message-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:beans>
		<spring:bean id="MessageServiceImpl" class="org.billing.api.handler.MessageHandler" />
	</spring:beans>

	<flow name="message-getAllFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="message" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.currentPage != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.pageSize != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="getAllMessage"
			methodArguments="#[message.inboundProperties.'http.query.params'.currentPage], #[message.inboundProperties.'http.query.params'.pageSize], #[flowVars['token']]"
			object-ref="MessageServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="message-createFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="message" allowedMethods="POST" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter expression="#[payload.to != null]" />
				<expression-filter expression="#[payload.subject != null]" />
				<expression-filter expression="#[payload.body != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="createMessage"
			methodArguments="#[payload.to], #[payload.subject], #[payload.body], #[flowVars['token']]"
			object-ref="MessageServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="message-deleteFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="message/{messageID}" allowedMethods="DELETE" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.uri.params'.messageID != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="deleteMessage"
			methodArguments="#[message.inboundProperties.'http.uri.params'.messageID], #[flowVars['token']]"
			object-ref="MessageServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

</mule>
