billing-system/src/main/app/transaction-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

	<spring:beans>
		<spring:bean id="TransactionServiceImpl"
			class="org.billing.api.handler.TransactionHandler" />
	</spring:beans>

	<flow name="transaction-balanceInqFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="transaction/balanceInquiry" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<expression-filter expression="#[flowVars['token'] != null]" />
		</message-filter>
		<invoke method="getBalanceInquiry" methodArguments="#[flowVars['token']]"
			object-ref="TransactionServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

	<flow name="transaction-historyFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="transaction/history" allowedMethods="GET" doc:name="HTTP" />
		<set-variable
			value="#[org.apache.commons.lang.StringUtils.substring(message.inboundProperties.authorization,7)]"
			variableName="token" doc:name="Variable" />
		<message-filter onUnaccepted="invalidParameterFlow"
			doc:name="Message">
			<and-filter>
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.currentPage != null]" />
				<expression-filter
					expression="#[message.inboundProperties.'http.query.params'.pageSize != null]" />
				<expression-filter expression="#[flowVars['token'] != null]" />
			</and-filter>
		</message-filter>
		<invoke method="loadTransactionHistory"
			methodArguments="#[message.inboundProperties.'http.query.params'.currentPage], #[message.inboundProperties.'http.query.params'.pageSize], #[flowVars['token']]"
			object-ref="TransactionServiceImpl" doc:name="Invoke" />
		<flow-ref name="responseFlow" doc:name="Flow Reference" />
	</flow>

</mule>
